
.contentWell{
  max-width:80rem;
  margin:0 auto;
}

.header--details{
  text-align:center;
  margin:1.5rem 0 2.5rem;
  font-size:3rem;
}

.card {
  display:flex;
  margin:0 0 2rem;
}
.card__img{
  width:30%;
  text-align:center;
  align-self:center;
}
.card__block--title{
  width:30%;
  display: flex;
  flex-direction: column;
  align-self: auto;
  padding-left:2rem;
}
.card__block--deets{
  width:40%;
  display: flex;
  flex-direction:column;
}

.card__title {
  margin-bottom: 1rem;
  font-size:2rem;
}

 