body.has-modal{
  overflow:hidden;
}
.modal__overlay{
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
}
.modal {
  position: absolute;
  z-index: 1;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);

  border: 1px solid #ccc;
  border-radius:5px;
  background: white;

  padding:5rem;
  text-align:center;
}
.modal input{
  width: 100%;
  text-align: center;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #999;
  font-family: 'Andika', sans-serif;
  font-size: .85rem;
  margin: 0 0 1.5rem;
}
.modal button{
  cursor:pointer;
  display: block;
  margin: 0 auto .75rem;
  padding: .5rem 1rem;
  border:0;
  outline:none;
  border-radius: 4px;
  background: #08367e;
  color: #fff;
  font-size: 1rem;
  line-height: 20px;
}

.modal a {
  color:#666;
  cursor:pointer;
  font-size:1rem;
}


/* Animation */

.modal-anim-enter {
  opacity: 0.00;
  transition: all 0.5s;
}
.modal-anim-enter.modal-anim-enter-active {
  opacity: 1;
}
.modal-anim-leave {
  opacity: 1;
  transition: all 0.5s;
}
.modal-anim-leave.modal-anim-leave-active {
  opacity: 0.00;
}